/* 
* @Author: Marte
* @Date:   2017-11-10 19:18:04
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-05 11:09:11
*/
.container{
    width:1200px;
    margin:0 auto;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
 body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul,a{
    margin: 0;
    padding: 0;
}
a{
    font-size:12px;
    text-decoration:none;
}
h1,h2,h3,h4,h5,h6 {
    text-decoration:none;
    font-weight:normal;
    font-size:100%;
} 
input {
  outline:none;
}
.clearfix:after{
    content:"";
    display:block;
    clear:both;
    overflow:hidden;
    height:0;
}
ul,li,ol{
    list-style:none;
}
img{
    display:block;
}

/*input:focus{
  outline:none;
}*/


@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1515121056290'); /* IE9*/
  src: url('../font/iconfont.eot?t=1515121056290#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.ttf?t=1515121056290') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1515121056290#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before { content: "\e614"; }

.icon-mima:before { content: "\e674"; }

.icon-xiaolian:before { content: "\e600"; }

.icon-jiantou-copy-copy:before { content: "\e601"; }

.icon-fangdajing:before { content: "\e603"; }

.icon-yanzhengma:before { content: "\e6eb"; }

.icon-shouji:before { content: "\e623"; }

.icon-jiantou3:before { content: "\e61d"; }

.icon-qicheqianlian-:before { content: "\e618"; }

.icon-arrows-6-1:before { content: "\e52c"; }

.icon-gouwuche:before { content: "\e504"; }