/* 
* @Author: Marte
* @Date:   2017-11-10 19:18:04
* @Last Modified by:   Marte
* @Last Modified time: 2017-11-10 22:00:49
*/
.container{
    width:1200px;
    margin:0 auto;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
 body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul,a{
    margin: 0;
    padding: 0;
}
a{
    color:#666; 
    text-decoration:none;
}
h1,h2,h3,h4,h5,h6 {
    text-decoration:none;
    font-weight:normal;
    font-size:100%;
} 
input {
  outline:none;
}
.clearfix:after{
    content:"";
    display:block;
    clear:both;
    overflow:hidden;
    height:0;
}
ul,li,ol{
    list-style:none;
}
img{
    display:block;
}
*{
    box-sizing:border-box;
}
/*input:focus{
  outline:none;
}*/

@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1510306407851'); /* IE9*/
  src: url('../font/iconfont.eot?t=1510306407851#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.ttf?t=1510306407851') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1510306407851#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before { content: "\e6de"; }

.icon-yanhuo:before { content: "\e774"; }

.icon-wine:before { content: "\e62d"; }

.icon-jiubei:before { content: "\e60c"; }

.icon-naozhong3:before { content: "\e66c"; }

.icon-1133kaixiangyanhuo:before { content: "\ec0a"; }

.icon-shangchengtubiaoyangjiu:before { content: "\e60b"; }

.icon-mima:before { content: "\e6d1"; }

.icon-zhen:before { content: "\e63e"; }

.icon-jiantou1zhuanhuan:before { content: "\e60f"; }

.icon-erweima:before { content: "\e600"; }

.icon-mian:before { content: "\e601"; }

.icon-fenlei:before { content: "\e660"; }

.icon-dianzan:before { content: "\e714"; }

.icon-jiantou3:before { content: "\e68e"; }

.icon-kuaidiche:before { content: "\e626"; }

.icon-pijiubei:before { content: "\e6e3"; }

.icon-shipinjiushui:before { content: "\e863"; }

.icon-huangjiu:before { content: "\e726"; }

.icon-baijiu:before { content: "\e728"; }

.icon-mo:before { content: "\e63f"; }

.icon-user-tel:before { content: "\e679"; }

.icon-gouwuche-01:before { content: "\e60d"; }

.icon-KAIXIANG:before { content: "\f0003"; }

.icon-weixin:before { content: "\e613"; }

.icon-zan-shixin:before { content: "\e635"; }

.icon-star01:before { content: "\e606"; }

.icon-huiyuan:before { content: "\e7c1"; }

.icon-qq:before { content: "\e50b"; }

.icon-dianhua:before { content: "\e61d"; }

.icon-dunpai:before { content: "\e64b"; }

.icon-lingdang:before { content: "\e74e"; }

.icon-bangzhu:before { content: "\e64d"; }

.icon-kefu:before { content: "\e62b"; }

.icon-pei:before { content: "\e637"; }

.icon-zhifubao:before { content: "\e60a"; }

.icon-aixin:before { content: "\e60e"; }

.icon-weixin1:before { content: "\e68a"; }

.icon-shouji1:before { content: "\e641"; }

.icon-fankui:before { content: "\e66d"; }

.icon-jiubei1:before { content: "\e682"; }

.icon-tuihuanhuo:before { content: "\e683"; }