.header {
  color: #666;
  font-size: 12px;
}

.header .top {
  background-color: #f6f6f6;
  padding: 2px 0;
}

.header .top .header_l {
  line-height: 28px;
}

.header .top .header_l a {
  color: #d01744;
}

.header .top .header_r ul {
  overflow: hidden;
}

.header .top .header_r ul li {
  float: left;
  padding: 6px 16px;
}

.header .middle {
  border-bottom: 2px solid #e60d53;
  padding: 30px 0 12px 0;
}

.header .middle .logo {
  background: url(./img/logo.jpg) no-repeat;
  width: 200px;
  height: 70px;
}

.header .middle .order {
  margin-top: 20px;
}

.header .middle .order ul li:first-child {
  background-color: #ff8a00;
  color: #fff;
}

.header .middle .order ul li:first-child span {
  color: #fff;
}

.header .middle .order ul li:first-child i {
  background: url(./img/index.png) -100px -759px no-repeat;
}

.header .middle .order ul li:last-child i {
  background: url(./img/index.png) -140px -759px no-repeat;
}

.header .middle .order ul li {
  float: left;
  background-color: #d5d5d5;
  padding-left: 40px;
  margin-left: 15px;
}

.header .middle .order ul li span {
  font-size: 14px;
  line-height: 28px;
  white-space: nowrap;
  color: #777777;
}

.header .middle .order ul li i {
  display: block;
  float: right;
  width: 15px;
  height: 28px;
  background-position: -120px -759px;
  margin: 0 -15px 0 32px;
  background: url(./img/index.png) -120px -759px no-repeat;
}

.car {
  background: #f3f3f3;
}

.car .carlist .car_top {
  line-height: 32px;
  margin: 0 0 -20px 0;
  padding-top: 15px;
}

.car .carlist .car_top i {
  display: block;
  width: 24px;
  height: 24px;
  margin: 2px 10px 0 8px;
  background: url(./img/index.png) -100px -729px no-repeat;
}

.car .form {
  padding-bottom: 10px;
  margin: 35px 0;
  font-size: 12px;
  color: #666;
}

.car .form .form_head {
  background-color: #fff;
  padding: 10px 0;
}

.car .form .form_head div input {
  margin-left: 12px;
}

.car .form .form_head div span {
  padding: 0 60px;
}
