.top_header {
  height: 76px;
  background: url("./img/head.jpg")-250px;
}

.head_top {
  height: 28px;
  background: #000000;
  line-height: 28px;
  font-size: 12px;
  color: #FFFFFF;
}

.head_top .head_l {
  width: 240px;
}

.head_top .head_l a {
  color: #e5004a;
}

.head_top .head_r {
  width: 534px;
}

.head_top .head_r li {
  float: left;
  padding-left: 25px;
}

.head_top .head_r li a {
  color: #fff;
}

.head_middle {
  height: 74;
  padding: 36px 0 15px;
}

.head_middle .logo {
  height: 73px;
  width: 210px;
  background: url("./img/logo.jpg") no-repeat;
}

.head_middle .form {
  margin: 0px 120px;
}

.head_middle .glass {
  width: 35px;
  height: 40px;
  background: #E5004A;
}

.head_middle .input {
  border: 4px solid #e5004a;
  height: 30px;
  width: 413px;
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
  padding: 1px 14px;
}

.head_middle .btn {
  background-color: #e5004a;
  font-size: 16px;
  color: #FFF;
  border: 0;
  height: 40px;
  width: 99px;
  line-height: 32px;
  cursor: pointer;
}

.head_middle .hot {
  margin-top: 6px;
  height: 24px;
  width: 580px;
  overflow: hidden;
  white-space: nowrap;
}

.head_middle .hot li {
  float: left;
  margin: 0px 10px;
}

.head_middle .hot li a {
  color: #666;
}

.head_middle i {
  display: block;
  height: 24px;
  width: 24px;
  float: left;
}

.head_middle .car {
  float: left;
  width: 140px;
  height: 40px;
  line-height: 40px;
  background: #E5004A;
}

.head_middle .car a {
  color: #fff;
  font-size: 14px;
  overflow: hidden;
}

.head_nav {
  height: 40px;
  border-bottom: 2px solid #e5004a;
}

.head_nav .classify {
  width: 210px;
  background: #E5004A;
  position: relative;
}

.head_nav .classify ul {
  position: absolute;
  background: #E5004A;
  z-index: 100;
}

.head_nav .classify ul li {
  width: 210px;
  height: 43px;
}

.head_nav .classify ul .bottom {
  height: 43px;
  background: url("img/baobao.jpg") no-repeat;
}

.head_nav .classify a {
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  padding-left: 20px;
}

.head_nav .lei{
  display:none;
}

.head_nav .lei li span{
  color:#fff;
  padding-left:100px;
}

.head_nav .i1{
  background: url(./mg/index.png)
  0px -180px no-repeat;
}
.head_nav .menu {
  width: 680px;
}

.head_nav .menu li {
  float: left;
  line-height: 40px;
  padding-left: 50px;
}

.head_nav .menu li a {
  color: #333333;
  font-size: 15px;
  font-weight: bold;
}
#footer .footer_t {
  background: #e5004b;
  padding: 20px 0px;
}

#footer .footer_t ul li {
  width: 165px;
  margin-right: 60px;
  margin-left: 70px;
  float: left;
}

#footer .footer_m {
  border-bottom: 1px solid #444;
  background: #333333;
}

#footer .footer_m ul {
  overflow: hidden;
}

#footer .footer_m ul .fork {
  border-right: 1px solid #444;
  width: 170px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  float: left;
}

#footer .footer_m ul .fork h5 {
  font-weight: bold;
  color: #dbdbdb;
  font-size: 14px;
}

#footer .footer_m ul .fork li {
  margin-top: 5px;
  margin-bottom: 5px;
}

#footer .footer_m ul .fork li a {
  color: #666;
}

#footer .footer_m ul .fork:last-child {
  border-right: 0;
}

#footer .footer_bottom {
  text-align: center;
  padding-bottom: 10px;
  background: #333333;
}

#footer .footer_bottom .footer_up {
  width: 280px;
  margin: 0 auto;
  padding: 10px 0px;
}

#footer .footer_bottom .footer_up li {
  float: left;
}

#footer .footer_bottom .footer_up li a {
  border-right: 1px solid #444;
  padding: 0 10px;
  color: #666;
}

#footer .footer_bottom .footer_c {
  color: #666;
  font-size: 12px;
  padding: 3px 0 14px;
}

#footer .footer_bottom .footer_b img {
  display: inline;
}

#aside {
  height: 100%;
  background: #e5004b;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
  width: 35px;
}

#aside ul {
  margin-top: 100px;
}

#aside ul li {
  position: relative;
  display: block;
  margin: 10px 0;
  z-index: 999;
}

#aside ul li:last-child{
  padding:100px;
}
#aside ul li i {
  display: block;
  color: #FFFFFF;
  padding: 7px;
  font-size: 20px;
  cursor: pointer;
}

#aside ul li span {
  position: absolute;
  top: 0;
  left: 60px;
  font-size: 15px;
  height: 34px;
  line-height: 34px;
  display: block;
  color: #FFFFFF;
  background: #9381f4;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}

.shoppingCar {
  position: relative;
  display: block;
  left: 0;
  top: 0px;
}
