@charset "UTF-8";
#main {
  background: #F3F3F3;
}

#main #main_head {
  padding: 5px 6px;
  text-align: left;
}

#main #main_head a {
  color: #666;
}

#main #main_head span {
  color: #666;
  font-size: 12px;
}

#main .goods {
  background-color: #FFF;
  margin-bottom: 10px;
}

#main .goods .line {
  padding-top: 10px;
}

#main .goods .goods_box .goods_pic {
  width: 420px;
  height: 420px;
  border: 1px solid #e6e6e6;
  margin-left: 10px;
}

#main .goods .goods_box .goods_pic img {
  width: 100%;
  height: 100%;
}

#main .goods .goods_box .goods_scroll {
  margin-top: 10px;
  width: 422px;
  height: 66px;
}

#main .goods .goods_r {
  margin-left: 25px;
  width: 730px;
  font-size: 13px;
}

#main .goods .goods_r .goods_r_t {
  height: 50px;
}

#main .goods .goods_r .goods_r_t .goods_r_tt {
  font-size: 18px;
  color: #c4c4c4;
  line-height: 50px;
}

#main .goods .goods_r .goods_r_m {
  padding-bottom: 10px;
  font-size: 18px;
}

#main .goods .goods_r .goods_r_m .goods_r_m1 {
  color: #e5004b;
}

#main .goods .goods_r .goods_r_m .goods_r_m2 {
  color: #ccc;
  margin: 0 5px;
}

#main .goods .goods_r .goods_r_m .goods_r_m3 {
  color: #666;
  font-weight: 900;
}

#main .goods .goods_r .goods_price {
  background: #f9f9f9;
  padding: 10px 15px;
  line-height: 36px;
}

#main .goods .goods_r .goods_price .goods_sale .goods_sale1 {
  width: 90px;
  font-size: 13px;
}

#main .goods .goods_r .goods_price .goods_sale .goods_sale2 {
  font-size: 24px;
  color: #e5004b;
  font-weight: bold;
}

#main .goods .goods_r .goods_price .goods_sale .goods_sale2::before, #main .goods .goods_r .goods_price .goods_sale .goods_sale4::before {
  content: "￥";
}

#main .goods .goods_r .goods_price .goods_sale .goods_sale4 {
  text-decoration: line-through;
}

#main .goods .goods_r .goods_detail {
  padding: 20px 15px 0;
}

#main .goods .goods_r .goods_detail .freight {
  width: 90px;
  font-size: 13px;
  color: #6c6c6c;
  text-align: left;
  white-space: nowrap;
  margin-right: 15px;
}

#main .goods .goods_r .goods_detail .traffic {
  line-height: 25px;
  margin-right: 10px;
  color: #666;
}

#main .goods .goods_r .goods_detail .traffic .input {
  position: relative;
  padding: 0 8px;
  height: 24px;
  border: 1px solid #ccc;
  line-height: 24px;
  z-index: 5;
  cursor: pointer;
}

#main .goods .goods_r .goods_detail .traffic .input .city {
  margin-right: 5px;
}

#main .goods .goods_r .goods_detail .traffic .free {
  line-height: 25px;
  margin-left: 20px;
  position: relative;
}

#main .goods .goods_r .goods_detail .traffic .date {
  padding-left: 25px;
}

#main .goods .goods_r .goods_detail .traffic .button {
  width: 122px;
  padding: 0 30px 0 0;
}

#main .goods .goods_r .goods_detail .traffic .button span {
  display: block;
  width: 30px;
  height: 34px;
  border: 1px solid #dddddd;
  background-color: #f9f9f9;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
}

#main .goods .goods_r .goods_detail .traffic .button input {
  height: 34px;
  width: 58px;
  border: none;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  line-height: 34px;
  white-space: nowrap;
  text-align: center;
  font-size: 16px;
  background: #fff;
}

#main .goods .goods_r .join {
  padding: 50px 0;
}

#main .goods .goods_r .join .group .Bag {
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 8px 28px;
  border: 1px solid #e5004b;
  background-color: #e5004b;
  color: #FFF;
  margin: 0 20px 0 120px;
}

#main .goods .goods_r .join .client {
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 8px 28px;
  border: 1px solid #e5004b;
  color: #e5004b;
}
