.header {
  padding: 20px 0px;
  background: #f2f2f2;
}

.header .logo {
  background: url(./img/logo1.jpg) 100%;
  width: 155px;
  height: 56px;
}

.header .hy {
  width: 140px;
  height: 53px;
  padding-left: 30px;
  margin-top: 10px;
  margin-left: 35px;
  font-size: 28px;
  line-height: 50px;
  color: #333333;
  border-left: 1px solid #dbdbdb;
}

.login {
  height: 480px;
  background-color: #e5004d;
  background: url(./img/common_big.jpg) center center;
  position: relative;
}

.login .form {
  background: #fff;
  width: 340px;
  height: 390px;
  position: absolute;
  top: 46px;
  right: 46px;
  border: 1px solid #dbdbdb;
}

.login .reg_head {
  margin: 25px 22px 5px 22px;
  background: #FFFFFF;
}

.login .reg_head h3 {
  font-size: 18px;
  color: #686565;
  width: 100px;
  font-weight: 700;
  float: left;
}

.login .reg_head span {
  float: right;
  font-size: 12px;
  font-weight: normal;
  line-height: 24px;
}

.login .reg_form {
  width: 296px;
  margin: 25px 22px 5px 22px;
  height: 200px;
}

.login .reg_form .phone, .login .reg_form .password, .login .reg_form .yzm {
  width: 296px;
  height: 40px;
  margin: 12px 0;
}

.login .reg_form .phone input, .login .reg_form .password input, .login .reg_form .yzm input {
  display: block;
  height: 40px;
  border: 1px solid #FFFFFF;
  background: #f9f9f9;
  padding: 0 20px 0 43px;
  line-height: 40px;
  float: left;
  font-size: 13px;
  color: #666;
}

.login .reg_form .phone input, .login .reg_form .password input {
  width: 231px;
}

.login .reg_form .yzm input {
  width: 112px;
}

.login .reg_form .yzm #YZ {
  margin-top: 6px;
}

.login .reg_form .check span {
  font-size: 12px;
  color: #666;
}

.login .reg_form .btn {
  padding: 12px 0;
}

.login .reg_form .btn input {
  display: block;
  width: 295px;
  background: #e5004b;
  border: none;
  cursor: pointer;
  color: #fff;
  height: 46px;
  line-height: 46px;
  font-size: 24px;
}

.login .reg_form .hz {
  padding-top: 10px;
  color: #777777;
  font-size: 12px;
}

.footer {
  text-align: center;
  background: #F3F3F3;
}

.footer .footer_t {
  padding-top: 15px;
  padding-bottom: 26px;
  color: #9C9C9C;
  font-size: 12px;
}

.footer .footer_b img {
  display: inline;
}
