.header{
    color:#666;
    font-size:12px;
    .top{
        background-color: #f6f6f6;
        padding: 2px 0;
        .header_l{
            line-height:28px;
            a{
                color: #d01744;
            }
        }
        .header_r{
            ul{
                overflow:hidden;
                li{
                    float:left;
                    padding:6px 16px;

                }
            }
        }
    }
    .middle{
        border-bottom: 2px solid #e60d53;
        padding: 30px 0 12px 0;
        .logo{
            background:url(./img/logo.jpg)no-repeat;
            width:200px;
            height:70px;
        }
        .order{
            margin-top: 20px;
            ul{
                li:first-child{
                    background-color: #ff8a00;
                    color:#fff;
                    span{
                        color:#fff;
                    }
                    i{
                        background: url(./img/index.png)
                        -100px -759px  no-repeat;
                    }
                }
                li:last-child{
                    i{
                        background: url(./img/index.png)
                        -140px -759px  no-repeat;
                    }
                }
                li{
                    float:left;
                    background-color: #d5d5d5;
                    padding-left: 40px;
                    margin-left: 15px;
                    span{
                        font-size: 14px;
                        line-height: 28px;
                        white-space: nowrap;
                        color: #777777;
                    }
                    i{
                       display: block;
                       float:right;
                        width: 15px;
                        height: 28px;
                        background-position: -120px -759px;
                        margin: 0 -15px 0 32px;
                        background: url(./img/index.png)
                        -120px -759px  no-repeat; 
                    }
                }
            }
        }
    }
}
.car{
    background: #f3f3f3;
    .carlist{
        .car_top{
            line-height: 32px;
            margin: 0 0 -20px 0;
            padding-top: 15px;
            i{
                display: block;
                width: 24px;
                height: 24px;
                margin: 2px 10px 0 8px;
                background: url(./img/index.png)
                -100px -729px no-repeat;
            }
        }
    }
    .form{
        padding-bottom: 10px;
        margin: 35px 0;
        font-size:12px;
        color:#666;
        .form_head{
            background-color: #fff;
            padding: 10px 0;
            div{
                input{
                    margin-left: 12px;
                }
                span{
                    padding:0 60px;
                }

            }
        }
    }
}